In [1]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\python310\lib\site-packages (2.9.5)

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
import psycopg2
import pandas as pd

In [3]:
def get_db_cursor():
    username = "doadmin"
    password = 'yzmodwh2oh16iks6'
    host = 'db-postgresql-cl1-do-user-2276924-0.db.ondigitalocean.com'
    port = 25060
    database = 'MandatoryMetadata'
    schema = 'historical'

    conn = psycopg2.connect(host=host,database=database, user=username, password=password, port=port)
    cur = conn.cursor()
    cur.execute("SET search_path TO " + schema)

    return conn, cur

In [4]:
conn, cur = get_db_cursor()

In [5]:
conn

In [18]:
spectra = pd.read_sql("SELECT metadata_id, averaged_spectra FROM spectraldata WHERE (is_finalized=True AND (passed=True AND is_active=True AND averaged=True))", con=conn)
spectra.to_csv("outputFiles/spectraldata.csv")
# spectra = pd.read_csv("outputFiles/spectraldata.csv")

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [20]:
metadata = pd.read_sql("select * from mandatorymetadata m", con=conn)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [21]:
chemicals = pd.read_sql("select * from chemical", con=conn)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [22]:
metadata

,metadata_id,batch_id,sample_code,sample_type_id,sample_subtype_id,environment_id,sensor_id,sample_pretreatment_id,is_qc,qc_id,report,instrument_id,timestamp
0,1,1,ML-SS21-2,1,1,3,1,1,True,N/A,True,211135.0,2023-01-23 13:25:31
1,2,4,ML-SS21-2,1,1,3,1,1,True,N/A,True,211135.0,2023-01-24 07:09:07
2,3,4,ML-SS21-2,1,1,3,1,1,True,N/A,True,211135.0,2023-01-24 07:09:08
3,4,5,ML-SS21-2,1,1,3,1,1,True,N/A,True,211135.0,2023-01-24 07:23:27
4,5,6,ML-SS21-2,1,1,3,1,1,True,N/A,True,2 00670,2023-01-24 08:43:13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6901,6902,352,CF246SA0030,1,1,3,1,1,False,N/A,True,2 00800,2023-02-17 10:08:38
6902,6903,352,CF246SA0023,1,1,3,1,1,False,N/A,True,2 00800,2023-02-17 10:08:38
6903,6904,352,CF246SA0046,1,1,3,1,1,False,N/A,True,2 00800,2023-02-17 10:08:38
6904,6905,352,CF246SA0059,1,1,3,1,1,False,N/A,True,2 00800,2023-02-17 10:08:38
6905,6906,352,CF246SA0019,1,1,3,1,1,False,N/A,True,2 00800,2023-02-17 10:08:38

In [23]:
metadata = metadata[['metadata_id','sample_code']]

In [24]:
chemicals = chemicals[['chemical_id','chemical_name']]

In [25]:
spectra = pd.merge(spectra,metadata,on="metadata_id",how="left")

In [26]:
spectra.to_csv("outputFiles/spectraldata.csv")

In [27]:
spectra

,metadata_id,averaged_spectra,sample_code
0,31,"{'522': [2.3244656573818396, 2.300363936880086...",CO064SA0543
1,17,"{'522': [2.3243741634120374, 2.307540485180485...",CS006SA0042
2,19,"{'522': [2.2630152586026915, 2.290110779246487...",FA419-51SA0016
3,11,"{'522': [2.154119577513004, 2.1818486646526885...",FA419-43SA0001
4,12,"{'522': [2.163048776013803, 2.154486397031147,...",FA419-46SA0003
...,...,...,...
5451,6496,"{'522': [2.1780593727169077, 2.237326539442723...",CC176SA1451
5452,6497,"{'522': [2.1004350637315294, 2.081424588592166...",CC176SA0688
5453,6498,"{'522': [1.9198362844262806, 1.919189491471532...",CC176SA2142
5454,6499,"{'522': [2.0913684528685414, 2.179166172188140...",CC176SA2517
5455,6500,"{'522': [2.0277425624644816, 2.050921343979563...",CC176SA2394

In [28]:
aver_spectra = spectra

In [29]:
aver_spectra

,metadata_id,averaged_spectra,sample_code
0,31,"{'522': [2.3244656573818396, 2.300363936880086...",CO064SA0543
1,17,"{'522': [2.3243741634120374, 2.307540485180485...",CS006SA0042
2,19,"{'522': [2.2630152586026915, 2.290110779246487...",FA419-51SA0016
3,11,"{'522': [2.154119577513004, 2.1818486646526885...",FA419-43SA0001
4,12,"{'522': [2.163048776013803, 2.154486397031147,...",FA419-46SA0003
...,...,...,...
5451,6496,"{'522': [2.1780593727169077, 2.237326539442723...",CC176SA1451
5452,6497,"{'522': [2.1004350637315294, 2.081424588592166...",CC176SA0688
5453,6498,"{'522': [1.9198362844262806, 1.919189491471532...",CC176SA2142
5454,6499,"{'522': [2.0913684528685414, 2.179166172188140...",CC176SA2517
5455,6500,"{'522': [2.0277425624644816, 2.050921343979563...",CC176SA2394

In [30]:
aver_spectra

,metadata_id,averaged_spectra,sample_code
0,31,"{'522': [2.3244656573818396, 2.300363936880086...",CO064SA0543
1,17,"{'522': [2.3243741634120374, 2.307540485180485...",CS006SA0042
2,19,"{'522': [2.2630152586026915, 2.290110779246487...",FA419-51SA0016
3,11,"{'522': [2.154119577513004, 2.1818486646526885...",FA419-43SA0001
4,12,"{'522': [2.163048776013803, 2.154486397031147,...",FA419-46SA0003
...,...,...,...
5451,6496,"{'522': [2.1780593727169077, 2.237326539442723...",CC176SA1451
5452,6497,"{'522': [2.1004350637315294, 2.081424588592166...",CC176SA0688
5453,6498,"{'522': [1.9198362844262806, 1.919189491471532...",CC176SA2142
5454,6499,"{'522': [2.0913684528685414, 2.179166172188140...",CC176SA2517
5455,6500,"{'522': [2.0277425624644816, 2.050921343979563...",CC176SA2394

5456

In [38]:
# outlier = pd.read_csv("D://CropNutsDocuments/DS-ML94/outputFiles/outlier_spectra.csv")

In [40]:
# outlier

,Unnamed: 0,sample_code,non_averaged_spectra
0,0,FA419-45SA0002,"{'522': [2.315193056887986, 2.3258604307668063..."
1,1,FA419-45SA0002,"{'522': [2.2528207439721912, 2.202161346749317..."
2,2,FA611-430SA0001,"{'522': [2.178236199851096, 2.1406849134172177..."
3,3,FA611-430SA0001,"{'522': [2.221190270175562, 2.2114937985759417..."
4,4,CO064SA0546,"{'522': [2.3364898266515413, 2.33673921453638,..."
...,...,...,...
13467,13467,CC176SA2142,"{'522': [1.8822115200953549, 1.876675341643357..."
13468,13468,CC176SA2517,"{'522': [2.174878753910197, 2.21841704408042, ..."
13469,13469,CC176SA2517,"{'522': [2.007858151826886, 2.139915300295861,..."
13470,13470,CC176SA2394,"{'522': [2.094633548758498, 2.033454010230025,..."
13471,13471,CC176SA2394,"{'522': [1.9608515761704648, 2.0683886777291, ..."

In [41]:
# aver_spectra[(aver_spectra['sample_code'].isin(outlier['sample_code'].values))]

,metadata_id,averaged_spectra,sample_code
0,31,"{'522': [2.3244656573818396, 2.300363936880086...",CO064SA0543
1,17,"{'522': [2.3243741634120374, 2.307540485180485...",CS006SA0042
2,19,"{'522': [2.2630152586026915, 2.290110779246487...",FA419-51SA0016
3,11,"{'522': [2.154119577513004, 2.1818486646526885...",FA419-43SA0001
4,12,"{'522': [2.163048776013803, 2.154486397031147,...",FA419-46SA0003
...,...,...,...
5451,6496,"{'522': [2.1780593727169077, 2.237326539442723...",CC176SA1451
5452,6497,"{'522': [2.1004350637315294, 2.081424588592166...",CC176SA0688
5453,6498,"{'522': [1.9198362844262806, 1.919189491471532...",CC176SA2142
5454,6499,"{'522': [2.0913684528685414, 2.179166172188140...",CC176SA2517
5455,6500,"{'522': [2.0277425624644816, 2.050921343979563...",CC176SA2394

In [42]:
# outlier.loc[outlier['sample_code'] == 'CO064SA0543']

   Unnamed: 0  sample_code                               non_averaged_spectra
6           6  CO064SA0543  {'522': [2.230162791692342, 2.2227954417348137...
7           7  CO064SA0543  {'522': [2.4187685230713374, 2.377932432025358...

In [32]:
aver_spectra.to_csv("outputFiles/averaged_spectra_samples.csv")

In [33]:
predictions = pd.read_sql("select * from prediction p", con=conn)

C:\Users\Tsuma Thomas\AppData\Roaming\Python\Python310\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [34]:
predictions = pd.merge(predictions, chemicals, on="chemical_id",how="left")[['sample_code','chemical_name','prediction']]

In [35]:
predictions = pd.pivot_table(predictions, values='prediction', index=['sample_code'], columns=['chemical_name'], aggfunc='max')

In [36]:
predictions

chemical_name,aluminium,boron,calcium,cec,clay,copper,exchangeable_acidity,iron,magnesium,manganese,organic_carbon,ph,phosphorus,potassium,sand,silt,sodium,sulphur,total_nitrogen,zinc
sample_code,,,,,,,,,,,,,,,,,,,,
CA053SA1351,855.216675,0.486857,1984.256470,18.271006,33.876694,2.931077,0.302978,233.977066,263.255341,154.018463,2.307480,6.023229,32.301712,744.823853,31.231422,30.146204,79.620499,28.090782,0.171613,7.640155
CA602SA0019,1111.785522,1.010853,2965.624023,24.196814,33.082703,3.115883,0.142331,204.357941,414.216888,137.781982,2.767783,6.687968,49.821159,1253.927002,33.678082,27.985035,95.201195,30.307808,0.190309,13.376975
CA602SA0021,1082.780640,0.937555,3861.044922,31.078741,33.702190,3.309423,0.054744,127.169449,540.800903,200.582855,2.242196,7.627549,54.830544,1910.345337,43.223808,24.055700,170.082489,51.346027,0.148666,9.707143
CA602SA0022,978.424744,1.448676,4050.130859,31.604263,31.714094,2.858335,0.168610,212.119232,418.159851,79.832413,3.113980,6.572569,494.507019,1575.720093,41.728020,28.115032,94.287498,36.821873,0.244022,29.055550
CA602SA0023,986.171387,1.914882,4672.532227,28.644297,33.505245,3.470881,0.094320,158.443100,476.610443,116.524445,3.038444,7.915989,640.473022,1829.800537,48.208626,24.907225,200.990814,47.176388,0.211575,25.205011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ISE958-1,NaN,NaN,NaN,NaN,NaN,2.976436,NaN,NaN,76.434273,NaN,2.389317,4.802110,NaN,75.054123,68.614494,NaN,NaN,NaN,NaN,NaN
ISE958-2,NaN,NaN,NaN,NaN,NaN,2.691410,NaN,NaN,111.340263,NaN,2.671694,4.963567,NaN,77.110291,72.617828,NaN,NaN,NaN,NaN,NaN
ML-SS21-1,NaN,NaN,NaN,NaN,NaN,3.048833,NaN,NaN,451.374176,NaN,2.989291,6.662029,NaN,1027.662842,32.717846,NaN,NaN,NaN,NaN,NaN
ML-SS21-2,NaN,NaN,NaN,NaN,NaN,3.529717,NaN,NaN,425.603363,NaN,3.060441,6.634390,NaN,981.742126,34.051609,NaN,NaN,NaN,NaN,NaN
ML-SS21-8,NaN,NaN,NaN,NaN,NaN,5.766942,NaN,NaN,429.919373,NaN,3.361623,6.656423,NaN,945.945557,49.866734,NaN,NaN,NaN,NaN,NaN

In [37]:
predictions.to_csv("outputFiles/predictions.csv")